Repository mkuznets/ytbackup: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, black

generate:
  name: go generate
  description: Runs `go generate` for all packages
  entry: go generate ./...
  language: system
  pass_filenames: false

black:
  name: black
  language: system
  entry: black --target-version=py35 --line-length=100
  require_serial: true

upgrade google.golang.org/api
  go.mod
  go.sum
  internal/ytbackup/start/api.go
  internal/ytbackup/start/enqueuer.go
Due: generate

factor formatting options of `list` into separate package
  internal/format/format.go
  internal/ytbackup/list.go
Due: generate

Bump version to v0.1.2
  VERSION
Due: none

support custom youtube-dl options
  internal/pyfs/statik.go
  internal/python/options.go
  internal/python/python.go
  internal/python/run.go
  internal/ytbackup/config.go
  internal/ytbackup/start/start.go
  python/dl.py
Due: generate, black

do not preprocess empty reason
  internal/index/format.go
Due: generate

support --no-trunc option in `list` command
  internal/format/format.go
  internal/index/format.go
  internal/ytbackup/list.go
Due: generate

skip premiered videos
  internal/ytbackup/start/enqueuer.go
Due: generate

Bump version to v0.1.3
  VERSION
Due: none

gitignore venv directory
  .gitignore
Due: none

use cached youtube-dl if update check fails
  go.sum
  internal/python/ensure_ydl.go
  internal/python/ydl/version.go
Due: generate

ignore .idea
  .gitignore
Due: none

fix macos build
  go.mod
  go.sum
Due: none

gopkg.in/yaml.v2 v2.2.7 -> v2.4.0
  go.mod
  go.sum
Due: none

Path conditions:
  generate: any of: \.(go|py)$
  black: any of: \.py$
